<!--
  Generated template for the TaskListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons start>
          <button ion-button (click)="openNotif()" >
          <ion-icon name="notifications"></ion-icon>
        </button>
        </ion-buttons>
    <ion-title>Browse Task</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles">  
      </ion-refresher-content>
    </ion-refresher>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <button ion-button full outline (click)="openFilter()">Filter Task
    </button>
  <div *ngIf="taskList?.length== 0">
    NO TASKS AVAILABLE
  </div>
  <ion-list>
    <ion-item *ngFor="let task of taskList"
    (click)="goToTaskDetail(task.id)">
    <ion-avatar item-start>
      <img src={{task?.posterimg}} />
    </ion-avatar>
    <h2 text-capitalize>{{task?.name}}</h2>
    <p *ngIf="(task?.location)"><ion-icon name="pin" class="icon1"></ion-icon> {{task?.location}}</p>
    <p *ngIf="!(task?.location)"><ion-icon name="pin" class="icon1"></ion-icon> online</p>
    <p><ion-icon name="calendar" class="icon1"></ion-icon>{{task?.date | date:'longDate' }}</p>
    <p *ngIf="((task?.taskerNumber-task?.assignNumber)>1)" class="icon1"><ion-icon name="contacts"></ion-icon> {{task?.taskerNumber-task?.assignNumber}} taskers </p>
    <p *ngIf="((task?.taskerNumber-task?.assignNumber) ==1)" class="icon1"><ion-icon name="contacts"></ion-icon> {{task?.taskerNumber-task?.assignNumber}} tasker </p>
    <div item-end >
        <p  class="price">${{task?.budget}}</p>
        <ion-badge *ngIf="((task?.taskerNumber-task?.assignNumber) >0)" class="open">OPEN</ion-badge>
        <ion-badge *ngIf="(task?.taskerNumber == task?.completedNumber)" class="assigned">COMPLETED</ion-badge>
        <ion-badge *ngIf="(task?.taskerNumber == task?.assignNumber)&&(task?.taskerNumber != task?.completedNumber)" class="assigned"  color="blur">ASSIGNED</ion-badge>
    </div>
    </ion-item>
  </ion-list>
  <ion-fab bottom center>
    <button ion-fab mini (click)="postTask()"><ion-icon name="add" ></ion-icon>
    </button>
  </ion-fab>
</ion-content>
