page-task-list {

    .price{
        font-size: 1.5em;
        text-align: end;
    }
    .assigned{
        background-color: black;
    }
   .icon1{
        padding-right: 8px;
        padding-bottom: 3px;
    }

}
