<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
      <ion-icon name="log-out"></ion-icon>
      </button>
      <button ion-button icon-only (click)="editProfile()">
        <ion-icon name="create"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <div id="profile-bg"></div>
      <div id="content">
        <div id="profile-info">
          <img id="profile-image" src="{{userProfile?.photo}}">
          <h3 id="profile-name">{{userProfile?.firstName}} {{userProfile?.lastName}}</h3>
          <!-- <span id="profile-description">Co-creator of <a href="https://twitter.com/ionicframework">@ionicframework</a>, founder of
            <a href="https://twitter.com/driftyco">@driftyco</a></span> -->
        </div>
      </div>
      <div>
        <ion-segment [(ngModel)]="review">
          <ion-segment-button value="tasker">
          As Tasker
          </ion-segment-button>
          <ion-segment-button value="poster">
           As Poster
          </ion-segment-button>
        </ion-segment>   
      </div>
      <div [ngSwitch]="review">
          <div *ngSwitchCase="'tasker'">
              <rating [(ngModel)]="userProfile.taskerReviewAve" 
              readOnly="true" 
              max="5" 
              emptyStarIconName="star-outline" 
              halfStarIconName="star-half" 
              starIconName="star" 
              nullable="false" 
              *ngIf="( userProfile?.taskerReview>0 )"
              >  
            </rating>
              <div *ngIf="( userProfile?.taskerReview==0) ">
                  No review yet
              </div>  
          </div>
          <div *ngSwitchCase="'poster'">
              <rating [(ngModel)]="userProfile.posterReviewAve" 
              readOnly="true" 
              max="5" 
              emptyStarIconName="star-outline" 
              halfStarIconName="star-half" 
              starIconName="star" 
              nullable="false" 
              *ngIf="( userProfile?.posterReview>0 )">  
            </rating>
            <div *ngIf="( userProfile?.posterReview==0) ">
                No review yet
            </div>  
          </div>
         
        </div>
        

  <button ion-button block
  (click)="openReview()">
  See full review
</button>
   <ion-item>
      <h2>ABOUT ME</h2>
      <p>{{userProfile?.aboutMe}}</p>
   </ion-item>
  </ion-list>

</ion-content>
