<!--
  Generated template for the TaskDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-capitalize>{{currentTask?.name}}</ion-title>
      <ion-buttons end *ngIf="(userId == currentTask?.poster) || (currentTask?.taskerNumber - currentTask?.completeNumber)>0">
        <button ion-button icon-only (click)="editTask()">
        <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button icon-only (click)="deleteTask()">
          <ion-icon name="trash"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles">  
      </ion-refresher-content>
    </ion-refresher>
  <!-- <h2></h2> -->
  <ion-list>
    <ion-item on-tap="openProfile(currentTask?.poster)">
      <ion-avatar item-start>
          <img src={{poster?.photo}} />
      </ion-avatar>
      <p>POSTED BY </p>
        <p text-capitalize><strong>{{poster?.fullName}}</strong></p>
        <p item-end>{{currentTask?.createdAt | amTimeAgo}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="cash" item-start></ion-icon>
      <p >${{currentTask?.budget}} per tasker</p>
    </ion-item>
    <ion-item>
      <ion-icon name="pin" item-start ></ion-icon>
      <p>{{currentTask?.location}}</p>
      <p *ngIf="!(currentTask?.location)">online</p>
    </ion-item>   
    <ion-item>
      <ion-icon name="calendar" item-start></ion-icon>
      <p>{{currentTask?.date}}</p>
    </ion-item>
    <ion-item *ngIf="(currentTask?.taskerNumber- currentTask?.assignNumber>0 )">
        <ion-icon name="contacts" item-start></ion-icon>
        <p *ngIf="((currentTask?.taskerNumber - currentTask?.assignNumber) ==1 )">{{currentTask?.taskerNumber- currentTask?.assignNumber}} spot left</p>
        <p *ngIf="((currentTask?.taskerNumber- currentTask?.assignNumber) >1)">{{currentTask?.taskerNumber- currentTask?.assignNumber}} spot lefts </p>
    </ion-item>
    <ion-item>
      <ion-icon name="information-circle" item-start></ion-icon>
      <p>{{currentTask?.description}}</p>
    </ion-item>
  </ion-list>

  <div class="hr"></div>
  <div  *ngIf="(currentTask?.taskerNumber!=currentTask?.assignNumber)  ">
    <ion-item >
      <p class="header">OFFERS</p>
      <ion-badge item-end>{{candidateList?.length}}</ion-badge>
      <div *ngIf="candidateList?.length==0">
        <p>no offer yet</p>
      </div>
    </ion-item>
    <div *ngIf="candidateList?.length>0">
      <ion-list>
        <ion-item *ngFor="let candidate of candidateList"  >
          <ion-avatar item-start (click)="openProfile(candidate?.id)">
            <img src={{candidate?.photo}} />
          </ion-avatar>
          <div  >
            <ion-grid>
              <ion-row>
                <ion-col >
                    <p class="name" text-capitalize>{{candidate?.name}}</p>
                </ion-col>
                <ion-col  >
                    <p class="price" *ngIf="(userId == this.currentTask?.poster)">${{candidate?.offerPrice}}</p>
                  </ion-col>
              </ion-row>
              <ion-row *ngIf="(userId == this.currentTask?.poster)">
                <ion-col width-50>
                  <button ion-button block class="assignBtn"  (click)="addTasker(candidate.id)">
                      Assign
                    </button>
                </ion-col>
                <ion-col width-50>
                  <button ion-button block class="assignBtn"  (click)="chat(candidate?.id, currentTask?.id )">
                      CHAT
                    </button>
                </ion-col>
              </ion-row>
            </ion-grid>
            </div>
            </ion-item>
          </ion-list>
        </div>
        
      </div>


  <div  *ngIf="taskerList?.length>0 || completedList?.length>0">
      <p  class="header">TASKER</p>
      <ion-item *ngFor="let tasker of taskerList" >
      <ion-avatar item-start (click)="openProfile(tasker?.id)">
          <img src={{tasker?.photo}} />
      </ion-avatar>
      <div >
          <ion-grid>
            <ion-row>
              <ion-col width-100>
                  <p class="name" text-capitalize>{{tasker?.name}}</p>
              </ion-col>
            </ion-row>
            <ion-row  *ngIf="(userId == currentTask?.poster)">
              <ion-col width-50>
                  <button ion-button block class="assignBtn" 
                  (click)="completeTask(tasker?.id)" *ngIf="!tasker?.completed">
                  COMPLETE
                  </button>
                  <button ion-button block class="assignBtn" 
                  (click)="reviewTask(tasker?.id)" *ngIf="tasker?.completed && !tasker?.review">
                  REVIEW
                  </button>
                  <button ion-button block class="assignBtn" 
                  (click)="completeTask(tasker?.id)" disabled *ngIf="tasker?.completed && tasker?.review">
                  REVIEW
                  </button>
              </ion-col>
              <ion-col width-50>
                  <button ion-button block class="assignBtn"  (click)="chat(tasker?.id, currentTask?.id )">
                      CHAT
                  </button>
              </ion-col>
            </ion-row>
          </ion-grid>
          </div>
      </ion-item>
    </div>
  
</ion-content>
<ion-footer no-shadow *ngIf="!(userId == currentTask?.poster)">
	<ion-toolbar position="bottom">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div  *ngIf="!(userId == currentTask?.poster) && !offered && (currentTask?.taskerNumber- currentTask?.assignNumber)>0">
            <button ion-button full
            (click)="addCandidate()">
            MAKE AN OFFER
            </button>
          </div>
          <div  *ngIf="!(userId == currentTask?.poster)&& offered && (currentTask?.taskerNumber- currentTask?.assignNumber)>0">
            <button ion-button full
            (click)="addCandidate()">
            UPDATE OFFER
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div *ngIf="!(currentTask?.poster == userId) && (currentTask?.taskerNumber- currentTask?.assignNumber)>0 ">
            <button ion-button full
            (click)="chat(currentTask?.poster, currentTask?.id )">
            CHAT
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="usertasker && (currentTask?.taskerNumber- currentTask?.assignNumber)==0 && usercomplete && !reviewed">
            <button ion-button full
              (click)="reviewPoster(currentTask?.poster)">
              REVIEW
            </button>
          </div>
          <div *ngIf="usertasker && (currentTask?.taskerNumber- currentTask?.assignNumber)==0 && usercomplete && reviewed">
              <button ion-button full
                disabled>
                REVIEW
              </button>
            </div>
          <div *ngIf="usertasker && (currentTask?.taskerNumber- currentTask?.assignNumber)==0 && !usercomplete">
              <button ion-button full disabled
                >
                ONGOING
              </button>
            </div>
        </ion-col>
        <ion-col>
          <div *ngIf="usertasker && (currentTask?.taskerNumber- currentTask?.assignNumber)==0">
            <button ion-button full
            (click)="chat(currentTask?.poster, currentTask?.id )">
            CHAT
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
	</ion-toolbar>
</ion-footer>