page-chat-list {
    .dot {
        height: 11px;
        width: 11px;
        background-color: red;
        border-radius: 50%;
        // display: inline-block;
        float:right;
    }
    .time{
        float: right;
    }
    .top{
        top: 0;
        padding-top: 0;
        margin-top: 0;
    }
    .name{
        font-size: 0.6em;
    }
    ion-grid {
        height:80px;
        
        ion-row {
            
          height: 33%;
        }
      }
    ion-item{
        height: 90px;
    }
}
