<!--
  Generated template for the ReviewListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reviews</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="review">
      <ion-segment-button value="tasker">
        As Tasker
      </ion-segment-button>
      <ion-segment-button value="poster">
        As Poster
      </ion-segment-button>
      <!-- <ion-segment-button value="ducklings">
        Ducklings
      </ion-segment-button> -->
    </ion-segment>
</ion-toolbar>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="review">
      <ion-list *ngSwitchCase="'tasker'">
          <div *ngIf="taskerReviewList?.length== 0">
              NO REVIEW YET
            </div>
        <ion-item *ngFor="let taskerReview of taskerReviewList">
          <ion-avatar item-start (click)="openProfile(posterReview?.posterId)">
            <img src={{taskerReview?.posterPhoto}} />
          </ion-avatar>
          <rating [(ngModel)]="taskerReview.rate" 
          readOnly="readOnly" 
          max="5" 
          emptyStarIconName="star-outline" 
          halfStarIconName="star-half" 
          starIconName="star" 
          nullable="false" 
          > 
          </rating>
          
          <h2 text-capitalize><strong>{{taskerReview?.taskName}}</strong></h2>
          <p><strong text-capitalize>{{taskerReview?.posterName}}</strong> said "{{taskerReview?.review}}"</p>

          
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'poster'">
          <div *ngIf="posterReviewList?.length== 0">
              NO REVIEW YET
          </div>
        <ion-item *ngFor="let posterReview of posterReviewList">
          <ion-avatar item-start (click)="openProfile(posterReview?.posterId)">
            <img src={{posterReview?.posterPhoto}} />
          </ion-avatar>
          <rating [(ngModel)]="posterReview.rate" 
          readOnly="readOnly" 
          max="5" 
          emptyStarIconName="star-outline" 
          halfStarIconName="star-half" 
          starIconName="star" 
          nullable="false" 
          > 
          </rating>
          <p text-capitalize><strong>{{posterReview?.posterName}}</strong></p>
          <p><strong text-capitalize>{{posterReview?.taskName}}</strong> said "{{posterReview?.review}}"</p>
  
        </ion-item>
        </ion-list>
  </div>
</ion-content>
